<%- include("partials/header") %>
<h1>
  <%= foundPost.title%>
</h1>
<p><%= foundPost.content%><p>
<br>
<form class="" action="/posts/<%= postId %>" method="post">
  <button type="submit" class="btn btn-danger  btn-lg btn-block">Delete Post</button>
</form>
